doctype html
html(ng-app="sampleApp")
  head
    title Sample AngularJs App
    script(src="/js/bundle.js")
  body
    div(ng-controller="sampleCtrl")
      h1 {{todo.user}}
    div
      p(id="enter")

